<!doctype html>
<html>
    <head>
        <meta http-equiv="refresh" content="300">
        <style>
           #slidy-container {
                box-shadow: 0 0 12px rgba(0,0,0,0.4);
                width: 50%;
                margin: 50px auto;
                max-height: 880px;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div id="slidy-container">
            <figure id="slidy">
                <%
                for (var i = 0; i < images.length; i++) { 
                    var image = images[i];
                %>
                <img src="<%= image %>" alt data-caption="" />
                <%
                    }
                %>
            </figure>
        </div>

        <script src="/cssslidy.js"></script>
        <script> cssSlidy({
            captionSource: 'none',
        }); </script>

    </body>
</html>